*{
    box-sizing: border-box;
    margin: 0;padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url(./Images/whitebackground.jpg);
}

#na{
    display: flex;
    background-color: blue;
    color: white;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.main{
    display: flex;
    justify-content: space-evenly;
    margin-left: 150px;
    margin-right: 150px;
    gap: 15px;
}

.left img{
    width: 500px;
    height: 500px;
    border-radius: 25px;
}

.right{
    display: flex;
    width: 800px;
    height: 600px;
    border-radius: 25px;
    justify-content: left;
    align-items: center;
    background-color: whitesmoke;
}

.form-group{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    flex-direction: column;
    height: 60px;
}

.form-group label {
    display: flex;
    font-size: 18px;
}

input,select{
    width: 500px;
    height: 30px;
}

button{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 16px;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    background-color: blue;
    border: none;
    color: white;
    cursor: pointer;
}